nav {
    width: 100%;
    background-color: royalblue;
    margin: 0;
    padding: 12px 0;
}

ul {}

li {
    display: inline;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

a:hover {
    background-color: whitesmoke;
    color: royalblue;
}