/* You can add global styles to this file, and also import other style files */

body {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 16pt;
    line-height: 1pt;
    padding: 0;
    margin: 0;
}